
*.bat
*.emProject
*.icf
*.s
*.mac
*.ewd
*.ewp
*.eww
*.mk
*.ini
*.ld
GNU_ARM/makefile
GNU_ARM/objcopy.txt
*.uvprojx
*.hex
EWARM/ht32_op.c
EWARMv8/ht32_op.c
ht32f5xxxx_01_usbdconf.h
MDK_ARM/fromelf.txt
*.uvproj
*.dep
*.map
*.lst
*.crf
*.d
*.o
*.axf
*.bin
*.htm
*.lnp
*.DavidChen
*.uvoptx
MDK_ARMv5/fromelf.txt
*.iex
*.scvd
